body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #fff;
}
div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/*HEADER*/

header {
    background: rgba(185, 133, 89, 1.0);
    background: -webkit-radial-gradient(bottom right, rgba(185, 133, 89, 1.0), rgba(36, 30, 68, 1.0));
    background: -moz-radial-gradient(bottom right, rgba(185, 133, 89, 1.0), rgba(36, 30, 68, 1.0));
    background: radial-gradient(to top left, rgba(185, 133, 89, 1.0), rgba(36, 30, 68, 1.0));
    color: #fff;
    padding: 25% 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 14vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 100%;
    /*text-align: center;*/
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    padding: 0;
    /*margin: 0 auto;*/
    margin-top: 15%;
    width: 67%;
    /*text-align: center;*/
}
/*.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    display: block;
    width: 100%;
    height: ;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 300px;
    text-align: center;
    margin-top: 17%;
    padding: 5% 0;
}*/

/*MOMENTS*/

.wrapper {
    display: flex;
    margin-top: 10%;
}
.offer {
    color: #000;
}
/*Картинка справа*/
.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin: 0;
    width: 90%;
}
.block-text {
    font-size: 4vw;
    margin: 0;
    margin-top: 7%;
    width: 90%;
}
.img {
    width: 50%;
    height: 100%;
}
/*Картинка слева*/
.img-left {
    width: 50%;
    height: 100%;
    margin-right: 5%;
}